.bash{
  position: absolute;
  top: 6%;
  left: 28%;
  width: 600px;
  height: 360px;
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 22px;
  background-color: $color-theme;
  box-shadow: 4px 3px 35px 0px rgba(0,0,0,0.71);
  color: $color-wh;
  transition: all $animation;
  &-tablet {
    left: 50%;
  }
  &-mobile {
    width: calc(100% - 40px);
    left: 50%;
  }
  &.active {
    top: -100%;
  }
  &-blue {
    color: #0070bb;
  }
  &-green {
    color: #00bb6d;
  }
  &-red {
    color: #ce1818;
  }
  &-yellow {
    color: #030c14;
    background-color: #aebb00;
  }
  &__tabs {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #121b24;
  }
  &__tab {
    padding: 8px 15px;
    border-right: 1px solid #121b24;
    font-size: 16px;
  }
  &__console {
    margin: 8px;
  }
  &__comand {
    letter-spacing: 1.6;
    text-align: justify;
    word-wrap: break-word;
    height: 328px;
    overflow: auto;
  }
  &__input {
    width: auto;
    height: $font-standart;
    border: none;
    background-color: $color-theme;
    color: $color-wh;
    font-family: "Roboto";
    font-size: $font-standart;
  }
  &__input:focus {
    border: none;
    outline: none;
  }
}
