.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, #F1F0F0, #C4C4C4);
  filter: brightness(1.1);
  z-index: 9999;
  &__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    animation: movingLogo 2.2s ease-out forwards;
  }
  &__picture {
    width: 62px;
    object-fit: cover;
  }
  &__signature {
    width: 200px;
    object-fit: cover;
    opacity: 0;
    animation: animationSignature 4.8s ease-out forwards;
  }
}

@keyframes movingLogo {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 0;
  }
  100% {
    bottom: 50%;
  }
}

@keyframes animationSignature {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
