@charset "UTF-8";
@import url("../fonts/stylesheet.css");
@import url("nullstyle.css");

body{
	font-family: "Baufra";
	font-size: 4vh;
	color: #fff;
	position: relative;
	overflow: hidden;
}
body.lock{
	overflow: hidden;
}

h1{
	font-weight: 800;
	font-size: 3.5vh;
	margin-top: 4%;
}

h2{
	margin: 4vh;
	font-weight: 500;
	color: #000;
	font-size: 5vh;
}

p{
	color: #fff;
	margin: 3%;
	font-weight: 400;
}

a{
	font-size: 5vh;
	color: #000;
}

a:hover {
	text-decoration: underline;
}


#loader{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #676767;
	z-index: 30;
}
#loader-d{
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	background: #000;
	width: 55vw;
	height: 30.4vw;
	z-index: 4;
	transition: all 0.3s ease 0s;
}
#loader-m{
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	background: #000;
	width: 36vh;
	height: 75.5vh;
	z-index: 4;
	transition: all 0.3s ease 0s;
}

.svg_anm {
	width: 6vh;
	height: 6vh;
	background: url(../img/three-dots.svg) center center no-repeat;
	background-size: 6vh;
}
.svg_anm-d{
	width: 6vh;
	height: 6vh;
	background: url(../img/tail-spin.svg) center center no-repeat;
	background-size: 6vh;
}

.btn{
	background: #fff;
	color: #000;
	border-radius: 20px;
	height: 8vh;
	width: 28vh;
	font-size: 5vh;
	font-weight: 500;
	margin: 5vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.anchor{
	position: relative;
	z-index: 2;
}

.section-1{
	width: 100%;
	height: 100%;
	background: none;
	position: relative;
}

.section-1__header{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	display: flex;
	background: none;
	height: 10vh;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	transition: all 0.3s ease 0s;
}

.nav{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section-1__nav{
	margin: 4px;
}

.burger{
	display: none;
}

.section-1__body{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-1__txt{
	display: flex;
	align-items: center;
	max-height: 100vh;
	max-width: 50%;
	overflow: hidden;
	position: relative;
}
.section-1__txt:after{
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background-color: rgba(0,0,0, 0.05);
		top: 0;
		left: 0;
		z-index: 2;
	}
	.section-1__about{
		z-index: 3;
	}
	.video{
		position: relative;
		height: 100vh;
		z-index: 1;
	}
	.video__content{
			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

.logo{
	display: flex;
	margin: 0% 0% 0% 1vw;
	color: #fff;
}

.logo_img{
	border-radius: 50%;
	width: 5vh;
	height: 5vh;
	margin-top: 2%;
}

.txt_logo{
	margin: 0 0 0 0.6vh;
}

.top_logo{
	font-size: 3vh;
}

.bottom_logo{
	font-size: 1.5vh;
	letter-spacing: 0.9vh;
}

.section-1__heading{
	position: absolute;
	left: 50%;
	top: 70%;
	z-index: 5;
	font-size: 4vw;
}

.top_heading{
	font-weight: 700;
	margin: 0;
}

.bottom_heading{
	background: #fff;
	color: #000;
	width: 38vw;
	font-weight: 700;
	margin: 0;
}

.section-1__about{
	margin: 4%;
	font-weight: 500;
	position: absolute;
	z-index: 5;
}

.section-1__img{
	width: 80vh;
	position: absolute;
	left: 78%;
	transform: translate(-50%, 0);
	bottom: 0%;
	border: 0px solid #676767;
	z-index: 2;
}

.section-1__footer{
	width: 100%;
	height: 3%;
	background: url(../img/repeat.jpg) 100% 100% repeat;
	position: absolute;
	z-index: 5;
	bottom: 0;
	right: 0;
}

.section-2{
	height: 100%;
	width: 100%;
	padding-top: 5%;
	background: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.slider-desctop{
		position: relative;
		width: 62vw;
		height: 37.2vw;
		background: url(../img/desctop.png) no-repeat center center;
		background-size: contain;
		padding-top: 1%;
		display: flex;
		justify-content: center;
		align-items: center;
}
.slider-desctop__frame{
		display: none;
		position: absolute;
		left: -45.9%;
		top: -42.2%;
		width: 191.7%;
		height: 178.6%;
		z-index: 4;
}
.slider-desctop__covers{
		width: 96%;
		height: 100%;
		z-index: 3;
}
.slider-desctop__item{
		height: 33vw;
		cursor: pointer;
}


.slider-mobile{
		position: relative;
		width: 40vh;
		height: 80vh;
		background: url(../img/mobile.png) no-repeat center center;
		background-size: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0.2%;
}
.slider-mobile__frame{
		display: none;
		position: absolute;
		width: 168%;
		height: 183%;
		border-radius: 6vh;
		z-index: 4;
}
.slider-mobile__covers{
		width: 84.5%;
		height: 92%;
		background: #000;
		z-index: 3;
		border-radius: 4vh;
		overflow: hidden;
}
.slider-mobile__item{
		height: 74vh;
		cursor: pointer;
}
.slider-work__arrows{
		display: flex;
		width: 100%;
		position: absolute;
		justify-content: space-between;
		z-index: 2;
}
.slick-arrow{
		width: 8vh;
		height: 8vh;
		padding: 5px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 68px;
		font-weight: 200;
		background: rgba(221,221,221, 0.0);
		color: #000;
		cursor: pointer;
}
.item-1{
	background: url('../img/screen-1.png') no-repeat center center;
	background-size: cover;
}
.item-2{
	background: url('../img/screen-14.png') no-repeat center center;
	background-size: cover;
}
.item-3{
	background: url('../img/screen-15.png') no-repeat center center;
	background-size: cover;
}
.item__logo{
	width: 30vh;
}
.txt{
	margin: 38px 0;
}
.slider-desctop__description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 4.5vh;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
}
.slider-mobile__description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 4px;
	overflow: hidden;
}

iframe{
	transform: scale(0.5);
	background: #fff;
}



.section-3{
	height: 100%;
	width: 100%;
	padding-top: 2%;
	background: #676767;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.section-3__block{
	border: 2px solid #fff;
	border-radius: 8px;
	height: 85%;
	width: 85%;
	display: flex;
	justify-content: center;
}

.order-0{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.order-img{
	width: 20%;
	margin: 5%;
}

.section-4{
	height: 100%;
	width: 100%;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-top: 0;
}

.section-4__tape{
	height: 100%;
	width: 10%;
	background: url(../img/marking-tape.jpg) repeat;
	background-size: cover;
	position: absolute;
}

.l{
	left: 0;
}

.r{
	right: 0;
}

.section-4__contact{
	display: flex;
	margin: 2vh;
}

.contact{
	color: #000;
	white-space: nowrap;
	font-size: 3vh;
	text-align: center;
}

.icon{
	width: 7vh;
	height: 7vh;
	margin-right: 2vh;
}

@media (max-width: 1024px) {
	body{
		overflow: auto;
	}
	.section-1__img, .section-1__border, .section-1__heading, .slider-desctop, .section-4__tape, .section-1__heading{
		display: none;
	}
	#loader .svg_anm{
		margin-top: 12vh;
	}
	.section-1__txt{
		min-width: 100%;
	}
	.video__content{
		height: 100%;
	}
	.logo{
		position: absolute;
		z-index: 15;
	}
	.nav{
		position: fixed;
		top: -100%;
		height: 100%;
		width: 100%;
		z-index: 10;
		background: #676767;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		font-weight: 500;
		transition: all 0.3s ease 0s;
	}
	.section-1__nav{
		color: #fff;
	}
	.section-1__heading{
		top: 81%;
	}
	.order-0{
		font-size: 2.5vh;
	}
	.burger{
		display: block;
		position: absolute;
		right: 2%;
		width: 30px;
		height: 20px;
		margin: 0 2% 0 0;
		z-index: 15;
	}
	span{
		position: absolute;
		background: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.burger:before, .burger:after{
		content: '';
		background: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger:before{
	top: 0;
	}
	.burger:after{
		bottom: 0;
	}
	.burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.burger.active span{
		transform: scale(0);
	}
	.logo.active{
		z-index: 16;
		width: 100%;
	}
	.nav.active{
		top: 0%;
	}
}
