@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "blocks";


html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to right bottom, #F1F0F0, #C4C4C4);
  font-family: "Roboto";
  font-size: $font-standart;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}
